<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Testem Test Page</title>
		<link rel="stylesheet" href="/bower_components/mocha/mocha.css">
		<script src="/bower_components/mocha/mocha.js"></script>
		<script src="/bower_components/chai/chai.js"></script>
		<script src="/bower_components/sinon/index.js"></script>
		<script src="/testem.js"></script>
		<script>mocha.setup('bdd')</script>
		{{#serve_files}}<script src="/{{src}}"></script>{{/serve_files}}
	</head>
	<body>
		<div id="mocha"></div>
		<script>
			mocha.run();
		</script>
	</body>
</html>